

<div class="bg-gradient-to-br from-cyan-400 to-light-blue-500 ">
  <div class="grid grid-flow-col grid-flow-row-2 grid-cols-3 gap-4">
    <div>
      <h1 class="text-center">List</h1>

      <div class="group block rounded-lg p-4 border border-gray-200 divide-y divide-gray-100">
        <ul *ngFor="let d of data">
          <li ><button (click)='getDetails(d.id)'>{{d.name}}</button></li>
        </ul>
      </div>
    </div>

    <div class="row-start-1 col-start-2 col-span-2">
      <h1 class="text-center">Detail</h1>
      <p class="group block rounded-lg p-4 border border-gray-200" ></p>
      
    </div>
  </div>
</div>


<router-outlet></router-outlet>
